.App{
  text-align: center;
}
.header{
  background-color: darkgoldenrod;
  text-align: center;
  }

.header h1{
    text-align: center;
    margin:"1px  1px";
    padding:"10px"
  }

.textarea{
  display: block;
    height: 60%;
  width: 50%;
}

.header h1{
  text-align: center;
  display: inline-block;
  margin: "10px";
  padding: "10px";
  
}

.note{
  display: inline-block;
  background-color: orange;
  padding: "10px";
  margin:"60px"
}
.main_note{
  background-color: darkkhaki;
  height: 80%;
  border-style: dotted;
  text-align: left;
}

.plus_sign {
  display: "inline"
}

.copy{
  background-color: darkgoldenrod;
}